/*color*/
$color-texto: #353535;
$color-hover: #51A09A;
$color-activo: black;
$color-fondo: #ddd;

/*Variables de Dimensiones*/ 
$logo-width: 1200px;
$logo-height: 250px;
$logo-margin-left: 150px;
$tamano-fuente: 18px;
$family-font: Verdana, Geneva, Tahoma, sans-serif;
$columna-fotos: 1fr 1fr 1fr;

$navbar-font-size: 25px;
$navbar-active-underline: underline;